/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 6, 2017, 9:21:20 PM
    Author     : Welcome
*/


body
{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
padding:10px;
}

td
{
padding:7px;
border-left:1px solid black;
border-bottom:1px solid black;
border-right:1px solid black;
border-top:1px solid black;
max-width: 450px;
word-wrap: break-word;
}
table{

align-items: center;
}

.center{
    margin-left: 0px;
     width: 800px;
    
}
.boxpx {
    width: 800px;
    
}



th
{
font-weight:bold;
text-align:left;
padding:7px;
border:1px solid black;
border-right-width: 1px;border-top-width: 1px;border-left-width: 1px;
}
.head
{
background: none repeat scroll 0 0 #91C5D4;
color:#00000;

}
.finalprice{
    font-weight: 900; 
}

.inv_number_and_date{
    
    width: 600px;
    height: 18px;
    text-align: center;
    
    border: 1px solid #fff;
    margin: auto;
    font-weight: 500;
    
}
.name_address {
    
    width: 800px;
    
}
